name: Build

on:
  push:
    branches:
      - master

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: Configure Git
        run: |
          git config user.name "$GITHUB_ACTOR"
          git config user.email "$GITHUB_ACTOR@users.noreply.github.com"

      - name: Run Build
        run: |
          npm i
          npm run build
          rm package.json
          rm package-lock.json
          git checkout gh-pages
          mv dist .
          rm -rf dist/
          git add .
          git commit . -m "Automated Build"
          git push
